<% content_for :meta_tags do %>
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="ポケモンタイプクイズ">
  <meta name="twitter:description" content="私のスコアは<%= @correct_count %>点です！">
  <meta name="twitter:image" content="https://poketype-c68682b46016.herokuapp.com/images/poketype.png">
<% end %>

<%= stylesheet_link_tag 'quiz', media: 'all' %>

<div class="container result-page">
  <h2>結果</h2>
  <div class="progress-circle-container">
    <div class="progress-circle-container">
      <div class="progress-circle quiz-progress-circle">
        <svg class="progress-svg quiz-progress-svg">
          <circle class="progress-background quiz-progress-background" cx="50%" cy="50%" r="48%"></circle>
          <circle class="progress-bar quiz-progress-bar" cx="50%" cy="50%" r="48%"></circle>
        </svg>
        <div class="progress-text quiz-progress-text">
          <span class="big-number"><%= @correct_count %></span><span>/5問</span><br>正解！
        </div>
      </div>
    </div>
  </div>

  <div class="button-container">
    <%= link_to 'もう一度', quiz_restart_path, class: 'btn btn-primary' %>
      <a href="https://twitter.com/intent/tweet?text=<%= CGI.escape("正解数: #{@correct_count} / #{@total_questions} でした！ / クイズURL: https://poketype-c68682b46016.herokuapp.com/") %>" target="_blank" style="background-color: #0f1419; color: #fff;" class="btn btn-twitter">
        &#x1D54F;でシェア
      </a>
  </div>

  <ul class="answers">
    <% session[:results].each_with_index do |result, index| %>
      <li class="answer">
        <h3>Question <%= index + 1 %>:
          <span class="badge <%= "type-#{result['question']}" %>">
            <%= t("types.#{result['question']}") %>
          </span>
        </h3>

        <p><%= result['correct'] ? '正解！' : '不正解' %></p>


        <% if result['all_pokemons'].present? %>
          <div class="pokemon-grid">
            <% result['all_pokemons'].each_with_index do |pokemon_id, index| %>
              <% pokemon = Pokemon.find_by(id: pokemon_id) %>
              <% if pokemon.present? && pokemon.image_url.present? %>
                <!-- pokemon-cell クラスを追加 -->
                <div class="pokemon-cell <%= result['correct_pokemons'].include?(pokemon_id) ? 'selected' : '' %>">
                  <%= image_tag pokemon.image_url, class: "pokemon-image" %>
                  <div class="checkmark">
                    <%= image_tag 'checkmark.svg', class: "checkicon" %>
                  </div>
                  <div class="pokemon-types"> <!-- タイプを囲むdivを追加 -->
                    <span class="badge type-<%= type_id_to_name(pokemon.type_id) %>">
                      <%= t("types.#{type_id_to_name(pokemon.type_id)}") %>
                    </span>
                    <% if pokemon.secondary_type_id.present? %> <!-- 2つ目のタイプが存在する場合 -->
                      <span class="badge type-<%= type_id_to_name(pokemon.secondary_type_id) %>">
                        <%= t("types.#{type_id_to_name(pokemon.secondary_type_id)}") %>
                      </span>
                    <% end %>
                  </div>
                </div>
              <% else %>
                <div class="pokemon-cell">
                  <%= "Pokemon with ID #{pokemon_id} not found or image missing" %>
                </div>
              <% end %>
            <% end %>
          </div>
        <% else %>
          <p>この問題には 'all_pokemons' のデータがありません。</p>
        <% end %>
      </li>
    <% end %>
  </ul>
  <div class="button-container">
    <%= link_to 'もう一度', quiz_restart_path, class: 'btn btn-primary' %>
      <a href="https://twitter.com/intent/tweet?text=<%= CGI.escape("正解数: #{@correct_count} / #{@total_questions} でした！ / クイズURL: https://poketype-c68682b46016.herokuapp.com/") %>" target="_blank" style="background-color: #0f1419; color: #fff;" class="btn btn-twitter">
        &#x1D54F;でシェア
      </a>
  </div>
</div>

<style>
  .result-page .pokemon-image {
    cursor: default !important;
  }
  .result-page .checkicon {
    cursor: default !important;
  }
</style>

<script>
document.addEventListener('turbo:load', function() {
  if (window.quizInterval) {
    clearInterval(window.quizInterval);
  }

  const correctCount = <%= @correct_count %>;
  const totalQuestions = 5;
  const circle = document.querySelector('.quiz-progress-bar');
  const circumference = 603.2;

  // ここで初期状態にリセット
  circle.style.strokeDashoffset = circumference;

  const initialOffset = circumference;
  const finalOffset = circumference - ((correctCount / totalQuestions) * circumference);
  let currentOffset = initialOffset;
  const step = (initialOffset - finalOffset) / 100;
  const intervalTime = 10;

  window.quizInterval = setInterval(() => {
    currentOffset -= step;

    if (currentOffset <= finalOffset) {
      currentOffset = finalOffset;
      clearInterval(window.quizInterval);
    }

    circle.style.strokeDashoffset = currentOffset;
  }, intervalTime);
});



</script>



